
<div class="container-fluid">
    
  
  <div class="modalDialog" ng-show="addAttributeForm">
    <div> 
      <a href="" title="Close" class="close" ng-click="addAttributeForm=false;">X</a>
    
      <h2>Add an Attribute</h2>
    
      <form>
        <div class="form-group">
          <label for="heading">Heading:</label>
          <input type="text" class="form-control" id="heading" ng-model="heading">
        </div>
        <div class="form-group">
          <label for="content">Content:</label>
          <textarea type="text" class="form-control" id="content" ng-model="content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default" ng-click="addAttribute(heading, content); addAttributeForm=false;">Submit</button>
          <button class="btn btn-default" ng-click="addAttributeForm=false;">Close</button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="modalDialog" ng-show="addEventForm">
    <div> 
      <a href="" title="Close" class="close" ng-click="addEventForm=false;">X</a>
    
      <h2>{{eventTitle}}</h2>
    
      <form>
        <div class="form-group">
          <label for="content">Notification Title</label>
          <input type="text" class="form-control" id="content" ng-model="title">
        </div>
        
        <div class="form-group">
          <label for="content">{{eventDescription}}</label>
          <textarea type="text" class="form-control" id="content" ng-model="content"></textarea>
        </div>
        
        <div class="form-group">
          <label for="content">When do you want to be reminded?</label>
          <div class="row">
            <div class="col-sm-4">Month: 
              <input type="text" class="form-control" id="content" ng-model="month">
            </div>
            <div class="col-sm-4">Day: 
              <input type="text" class="form-control" id="content" ng-model="day">
            </div>
            <div class="col-sm-4">Year: 
              <input type="text" class="form-control" id="content" ng-model="year">
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="content">What time?</label>
          <div class="row">
            <div class="col-sm-4">Hour: 
              <input type="text" class="form-control" id="content" ng-model="hour">
            </div>
            <div class="col-sm-4">Minute: 
              <input type="text" class="form-control" id="content" ng-model="minute">
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn btn-default" ng-click="addNotification(title, content, month, day, year, hour, minute); addEventForm=false;">Submit</button>
          <button class="btn btn-default" ng-click="addEventForm=false;">Close</button>
        </div>
      </form>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-4">
      <!--Sidebar content-->
      
      <div class="panel panel-default panel-blue">
        <!-- Default panel contents -->
        <div class="panel-heading">Contact Tools</div>
      
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item"><a href="" ng-click="eventFormReminder();">Quick Reminder about {{person.name}}</a></li>
          <li class="list-group-item"><a href="" ng-click="eventFormLoan();">Add Loan Reminder</a></li>
          <li class="list-group-item"><a href="" ng-click="addAttributeForm=true">Add Attribute</a></li>
        </ul>
      </div>
      
  
      <div class="panel panel-default panel-light-blue" ng-repeat="notification in notifications">
        <div class="panel-heading"><strong>Reminder: </strong>{{notification.title}}</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
              <img class="notification-alarm" src="img/alarm.png">
            </div>
            <div class="col-md-4">
              <p><strong>Date: </strong>{{notification.time.date.month + "/" + notification.time.date.day + "/" + notification.time.date.year}}</p>
              <p><strong>Time: </strong>{{getTime(notification.time.time.hour, notification.time.time.minute)}}</p>
            </div>
            <div class="col-md-4">
              <p>{{notification.message}}</p>
            </div>
              
          </div>
        </div>
      </div>
      
    </div>

    <div class="col-md-8">
      <div class="panel panel-default panel-blue">
        <!-- Default panel contents -->
        <div class="panel-heading">Contact Editor</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3 panel-thumb">
              <img class="large-thumb" ng-src="{{photo === undefined && 'img/default-thumb.png' || photo.attributeValue}}">
            </div>
            
            <div class="col-sm-9">
              <div ng-show="editButton">
                <p><strong>Name: </strong> {{person.name}}</p>
                <p><strong>Phone: </strong>{{phone.attributeValue}}</p>
                <p><strong>Email: </strong>{{email.attributeValue}}</p>
              </div>
              
              <form class="form-horizontal" ng-show="editContact">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Name: </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" value="{{person.name}}" ng-model="person.name">
                  </div>
                </div>
                 <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Phone: </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone" value="{{phone.attributeValue}}" ng-model="phone.attributeValue">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Email: </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" value="{{email.attributeValue}}" ng-model="email.attributeValue">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="postData(); editContact=false; editButton=true;">Save</button>
                    <button class="btn btn-default" ng-click="editContact=false; editButton=true;">Close</button>
                  </div>
                </div>
                
              </form>
              <button class="btn btn-default" ng-show="editButton" ng-click="editContact=true; editButton=false;">Edit Contact</button>
              
            </div>
            

          </div>
      
        </div>
      </div>
      
      <div class="row">
       
        <div class="col-md-6">
          <div class="panel panel-default" ng-repeat="attribute in person.attributes" ng-if ="$index < leftLimit">
            <div class="panel-heading">{{attribute.attributeName}}</div>
            <div class="panel-body">
              <div class="angular-with-newlines" ng-hide="edit">
                  <p>{{attribute.attributeValue}}</p>
              </div>
             
               <form ng-show="edit">
                  <div class="form-group">
                    <label for="heading">Heading:</label>
                    <input type="text" class="form-control" id="heading" value="{{attribute.attributeName}}" ng-model="attribute.attributeName">
                  </div>
                  <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea type="text" class="form-control" id="content" value="{{attribute.attributeValue}}" ng-model="attribute.attributeValue"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="postData(); edit=false;">Submit</button>
                    <button type="submit" class="btn btn-default" ng-click="edit=false;">Close</button>
                  </div>
                </form>
                
    
              <button class="btn btn-default" ng-hide="edit" ng-click="edit=true;">Edit</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default" ng-repeat="attribute in person.attributes" ng-if ="$index >= leftLimit">
            <div class="panel-heading">{{attribute.attributeName}}</div>
            <div class="panel-body">
              <div class="angular-with-newlines" ng-hide="edit">
                <p>{{attribute.attributeValue}}</p>
              </div>
             
               <form ng-show="edit">
                  <div class="form-group">
                    <label for="heading">Heading:</label>
                    <input type="text" class="form-control" id="heading" value="{{attribute.attributeName}}" ng-model="attribute.attributeName">
                  </div>
                  <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea type="text" class="form-control" id="content" value="{{attribute.attributeValue}}" ng-model="attribute.attributeValue"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="postData(); edit=false;">Submit</button>
                    <button type="submit" class="btn btn-default" ng-click="edit=false;">Close</button>
                  </div>
                </form>
                
    
              <button class="btn btn-default" ng-hide="edit" ng-click="edit=true;">Edit</button>
            </div>
          </div>
        </div>
        
        
        
      </div>
    
    </div>
    
  </div>
</div>